{% extends "base.html" %}
{% load mezzanine_tags static blog_tags keyword_tags pages_tags %}

{% block head_js_extra %}
{{ block.super }}
<script src="{% static 'jquery-ticker/jquery.ticker.min.js' %}"></script>
{% endblock %}

{% block stylesheets_extra %}
{{ block.super }}
{% endblock %}

{% block head_extra %}
<style>
.ticker {
  width: 90%;
  margin: 2px auto;
}
 /* The HTML list gets replaced with a single div,
    which contains the active ticker item, so you
    can easily style that as well */
.ticker div {
  display: inline-block;
  word-wrap: break-word;
}
</style>
{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_wrapper %}
{% endblock %}

{% block content_wrapper %}

	{% block main %}

	{# Override content_header to omit it #}
	{% block content_header %}{% endblock %}

		<div class="business-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 middle"><!-- The background image is set in the custom CSS -->
						<h1 class="tagline">{{ homepage.leader_text }}</h1>
						<p><a href="{{ homepage.button_link }}" class="btn btn-primary pull-right">{{ homepage.button_text }} &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>

  		{% block blog_recent_posts %}
			{% blog_recent_posts 3 as recent_posts %}
			{% if recent_posts %}
				<div class="alert alert-info alert-special alert-dismissable" data-alert="alert">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<div class="container">
						<div class="row">
							<div class="col-sm-1">
								<a href="{% url 'blog_post_list' %}" class="btn btn-default btn-xs">News</a>
							</div>
							<div class="ticker">
						    	<ul>
								{% for recent_post in recent_posts %}
									<li>
										<a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
								    </li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<script>
			$('.ticker').ticker(
				$.fn.ticker.defaults = {
				    random:        false, // Whether to display ticker items in a random order
				    itemSpeed:     2000,  // The pause on each ticker item before being replaced
				    cursorSpeed:   50,    // Speed at which the characters are typed
				    pauseOnHover:  true,  // Whether to pause when the mouse hovers over the ticker
				    finishOnHover: true,  // Whether or not to complete the ticker item instantly when moused over
				    cursorOne:     '',   // The symbol for the first part of the cursor
				    cursorTwo:     '',   // The symbol for the second part of the cursor
				    fade:          true,  // Whether to fade between ticker items or not
				    fadeInSpeed:   600,   // Speed of the fade-in animation
				    fadeOutSpeed:  300    // Speed of the fade-out animation
				}
			);
			</script>
		{% endblock %}

		<hr/>

		{% if homepage.boxes.all.count > 0 %}
			<div class="row">
				{% for box in homepage.boxes.all %}
					<div class="col-sm-4">
						<div class="service">
							<span class="service-icon">
	                        	{% if box.link %}<a href="{{box.link}}">{% endif %}<i class="fa {{ box.icon }} fa-4x"></i>{% if box.link %}</a>{% endif %}
	                        </span>
	                    </div>
						<h2>{{ box.title }} {% if box.link %}<a href="{{box.link}}" class="btn btn-primary btn-xs"> &raquo;</a>{% endif %}</h2>
						{{ box.content|richtext_filters|safe }}
					</div>
				{% endfor %}
			</div>
		{% endif %}



	{% endblock %}

{% endblock %}
