{% extends "jasmin_theme/layout.html" %}

{% load pages_tags mezzanine_tags i18n staticfiles cookielaw_tags %}

{% block head_title %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}{% endblock %}

{% block blog_feeds %}
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}
{% endblock %}


{% block stylesheets_extra %}
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
{% endblock %}

{% block site_name %}{{ settings.SITE_TITLE }}{% endblock %}

{% block navigation %}
    {% search_form %}
    {% page_menu "pages/menus/dropdown.html" %}
{% endblock %}

{% block content_main %}

    {% block content_header %}

        <div class="row">
            <div class="col-md-12">
                    <div>
                        <h1 class="business-header-page tagline">{% block page_title %}{% block title %}{% endblock %}{% endblock %}</h1>
                        {% block breadcrumbs %}{% endblock %}
                    </div>
            </div>
        </div>
        {% block breadcrumb_wrapper %}

        <div class="row">
            <div class="col-md-12">
            <ul class="breadcrumb">
            {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
            {% endspaceless %}
            </ul>
            </div>
        </div>
        {% endblock %}

    {% endblock %}



    {% block notifications %}{% endblock %}

    {% block left_wrapper %}
    {% endblock %}

    {% block mid_wrapper %}
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    {% block main %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block right_wrapper %}
    	{% block right_panel %}
    	{% endblock %}
    {% endblock %}

{% endblock %}

{% block footer_js %}
{{ block.super }}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</div>
</body>
</html>
